<div style="text-align: center"><h1>{{actionName}} Ticket</h1></div>
<form name="form" class="form-horizontal">
    <div class="control-group" ng-class="{error: form.ticktname.$invalid}">
        <label class="control-label" for="ticktname">Name</label>
        <div class="controls">
            <input type="text" ng-model="item.name" name="ticktname" id="ticktname" ng-required="true">
        </div>
    </div>

    <div class="control-group" ng-class="{error: form.description.$invalid}">
        <label class="control-label" for="description">Description</label>
        <div class="controls">
            <input type="text" ng-model="item.description" name="description" id="description" ng-required="true">
        </div>
    </div>

    <div class="control-group" ng-class="{error: form.refId.$invalid}">
        <label class="control-label" for="refID">Ref ID</label>
        <div class="controls">
            <input type="text" ng-model="item.refID" name="name" id="refID">
        </div>
    </div>
    <div class="control-group" ng-class="{error: form.openDate.$invalid}">
        <label class="control-label" for="openDate">Open Date</label>
        <div class="controls">
            <!--input type="text" ng-model="item.startDate" id="startDate"-->
            <input id="openDate" name="openDate" type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="item.openDate" is-open="opened" max="'2015-06-22'" />

        </div>
    </div>
    <!--div control-group="name">Name</div-->
    <div class="form-actions">
        <button class="btn btn-primary" ng-click="save()" ng-disabled="!form.name.$valid || !form.openDate.$valid || !form.description.$valid">
            Submit
        </button>
        <a ng-click="cancel()" class="btn">Cancel</a>
    </div>
</form>