<table class="table table-striped table-condensed table-hover">
    <thead>
        <th>
            <a ng-click="sort('id')">ID111</a>
            <span ng-show="sort_order=='id' && is_desc == true"><i class="icon-arrow-down"></i></span>
            <span ng-show="sort_order=='id' && is_desc == false"><i class="icon-arrow-up"></i></span>
        </th>
        <th fieldname="id" sortheader="ID"></th>
        <th fieldname="name" sortheader="Name"></th>
        <!--th>
            <a ng-click="sort('name')">Name</a>
            <span ng-show="sort_order=='name' && is_desc == true"><i class="icon-arrow-down"></i></span>
            <span ng-show="sort_order=='name' && is_desc == false"><i class="icon-arrow-up"></i></span>

        </th-->
    </thead>
    <tbody>
        <tr ng-repeat="item in items">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
        </tr>
    </tbody>
</table>